* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #7fa5b2, #88c8af);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: row;
    align-items: stretch;
    min-width: 100vh;


    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}



body::after{
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.poppins-bold {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

main{
    display: flex;
}

.nunita-normal{
    font-family: 'nunito', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nunita-bold {
    font-family: "nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text-name {
    color: #102542;
}

.text-secondary{
    color: grey;
}

.formform-heading{
    font-size: 2.5rem;
    margin-top: 0rem;
    margin-bottom: 3.4rem;
}

.formform-heading h1{
    color: #102542;
}

.formform-heading p{
    color: #848484;
    font-size: 1.9rem;
    text-align: start;
    margin-left: 0.4rem; 
}

.form-container{
    margin-top: -2.1rem;
}

.lado-esquerdo{
    width: 50%;
    height: 95vh;
    gap: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lado-direito{
    width: 50%;
    height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-side-container {
    background-color: #e0e8ee;
    padding: 6.6rem;
    border-radius: 8rem;
    box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.05);
    max-width: 100%;
    width: 80%;
    position: relative;
    height: 90%;
}

.logo {
    position: fixed;
    top: 1.8rem;
    right: 2.5rem;
    display: flex;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    z-index: 10;
}

.logo img{
    height: 4.8rem;
    margin-right: 0.3rem;
    margin-top: -1rem;
}

.top-form-help-and-back{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    position: absolute;
    top: 4.25rem;
    left: 3rem;
}

.top-form-help-and-back a {
    color: #848484;
    text-decoration: none;
    font-size: 1.3rem;
}

.top-form-help-and-back .fa-arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #555;
    font-size: 1rem;
}

.form-heading h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0.3rem;
    margin-top: 0;
}



.form-heading p { /* Para o "Segundo passo! Preencha dados para contato" */
    color: #666;
    font-size: 1rem;
    margin-bottom: 1.8rem;
}

.form-group label {
    display: block;
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    margin-top: 0.9rem;
}



form input[type="email"] {
    width: 100%;
    padding: 0.6rem 0.9rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

form input[type="email"]:focus {
    border-color: #3490dc;
    outline: none;
    box-shadow: 0 0 0 1px rgba(52, 144, 220, 0.2);
}

.btn-next {
    margin-top: 3.5rem;
    padding: 1.6rem 12.5rem;
    width: 79%;
    border: none;
    border-radius: 3.1rem;
    font-size: 2.1rem;
    color: #102542;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #99d1e4, #b9e8d8);
    flex-direction: row;
    justify-content: center;
    margin-left: 5rem;
}

.btn-next:hover {
    opacity: 0.95;
    box-shadow: 0 6px 15px rgba(137, 196, 220, 0.6);
    border: 1px solid #102542;
}

.btn-next .fa-arrow-right { /* Ícone dentro do botão */
    margin-left: 10px;
    font-size: 1.2rem;
}

.fa-circle-left{
    color: #377292;
    font-size: 3rem;
    transition: 0.3s;
}

.fa-circle-left:hover{
    color:#63bee9;
}

.btn-perfil {
    transition: all 0.2s ease-in-out;
}

.btn-perfil:hover {
    border-color: #102542 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.etapa-atual {
    position: absolute;
    bottom: 50px; /* Ajuste a posição para o rodapé */
    color: #aaa;
    font-size: 1.4rem;
    right: 22px;
}

.footer-links {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
    font-size: 0.9em;
}

.footer-links a {
    color: #555; /* Cor cinza escura */
    text-decoration: none;
    margin: 0 15px;
}

.footer-links a:nth-child(2){
    color: white;
}

.form-column{
    flex: 1;
}

.form-column input:not([type="hidden"]){
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.form-column label{
    margin-bottom: 5px;
    margin-top: 15px;
    margin-left: 1.2rem;
    font-size: 1.5rem;
    color: #848484; 
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row input[type="email"],
.form-row input[type="password"] {
    width: 100%; /* Ocupa toda a largura do contêiner */
    padding: 12px 15px; /* Aumenta o padding interno para um toque maior */
    margin-bottom: 20px; /* Espaçamento abaixo do campo */
    font-size: 1.3rem;
    line-height: 1.5; /* Altura da linha para melhor leitura */
    font-family: 'nunita', sans-serif; /* Garante que a fonte do corpo seja usada */

    color: var(--color-text-dark, #333); /* Cor do texto */
    background-color: #f9f9f9; /* Fundo levemente acinzentado */
    border: 2px solid #7fa5b2; /* Borda cinza clara */
    border-radius: 8px; /* Bordas arredondadas (suave) */

    box-sizing: border-box; /* Garante que o padding não estoure a largura */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave para o efeito de foco */
}

.form-row input:focus {
    border-color: #63bee9; /* Mudar a borda para a cor primária */
    box-shadow: 0 0 0 3px rgba(92, 184, 92, 0.2); /* Adiciona um brilho suave (anel) */
    outline: none; /* Remove o outline padrão do navegador */
    background-color: #ffffff; /* Fundo branco no foco */
}

.form-row input::placeholder {
    color: #999999;
    font-weight: 400;
} 

.right-side-container{
   top: 34px;
    left: 44px;
    height: 75vh;
    width: 90%;
    position: relative;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-content{
    text-align: center;
    padding: 21px;
    z-index: 2;
    border-radius: 10px;
    max-width: 80%;
    margin-right: 14rem;
    
}

.background-content h1{
    color: #102542;
    font-size: 5rem;
}

.background-content p{
    font-size: 2.5rem;
    color: #102542;
}



.login-image-container {
    position: relative;

    z-index: 1;
}

.login-image-container::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 60px;
    width: 70%;
    height: 100%;

    background-image: url(/img/logo-avena-removebg-preview-dark.png);

    opacity: 0.1;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox-group {
    margin-top: 15px; 
}

.checkbox-row {
    margin-left: 1%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.checkbox-row label {
    order: 1; 
    margin-right: auto; 
    margin-bottom: 0; 
}

.checkbox-row input[type="checkbox"] {
    accent-color: #007bff;
    order: 2;
    margin: 0; 
    width: 20px; 
    height: 20px;
    cursor: pointer;
}

.footer {
    /* width: 100%; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #102542;
    cursor: pointer;
}

.users-info{
    color: #102542;
    background: #bfeaff70;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0rem;
    flex-wrap: wrap;
    font-size: 2.3rem;
    border: 2px solid;
    border-radius: 2rem;
    height: 54rem;
}
