* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #102542;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #7fa5b2, #a1d1c1);
}

main {
    display: flex;
}

/* LOGO DO CABEÇALHO*/
.logo-container {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.logo-img {
    width: 2.5rem;
    height: auto;
}

.logo-text {
    font-size: 2rem;
    font-weight: 900;
}

/* FIM DA LOGO */

/* LADO ESQUERDO */

.lado-esquerdo {
    width: 50%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.conteudo-esquerdo {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.conteudo-esquerdo::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/img/logo-avena-removebg-preview-dark.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;
    z-index: 1;
}

.titulo-esquerdo {
    width: fit-content;
    line-height: 3.5rem;
    padding-left: 2rem;
    font-weight: 900;
    text-align: left;
    font-size: 2.1rem;
}

.subtitulo-esquerdo {
    padding-left: 2rem;
    text-align: left;
    margin-top: 1rem;
}

/* FIM DO LADO ESQUERDO */

/* LADO DIREITO DO LOGIN */

.lado-direito {
    width: 50%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: #e8e8e8;
    width: 80%;
    height: 95%;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-help {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.help {
    text-decoration: none;
    color: #767575e9;
}

.form-title {
    font-size: 2rem;
    width: fit-content;
    padding: 2rem 1rem;
}

/* FORM */

form {
    width: 90%;
    display: flex;
    height: 70%;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.inputLabel {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

/* Wrapper */
.password-wrapper {
    position: relative;
}

/* Ícone */
.toggle-password {
    position: absolute;
    right: 1rem;
    top: 2.375rem;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
}

.inputLabel input {
    padding: 1rem;
}

.inputLabel input:focus {
    border: 0.15rem solid #60d0d3;
    outline: none;
}

input {
    background-color: #f4f4f4;
    border: 0.15rem solid #7fa5b2;
    border-radius: 0.5rem;
    height: 2.5rem;
}

.inputLabel label {
    color: #6c6c6c;
    padding-bottom: 0.5rem;

}

.checkbox-inputLabel {
    accent-color: #007bff;
    gap: 0.3rem;
    display: flex;
    height: fit-content;
    align-items: center;
    margin-bottom: 1rem;
}

.btn-login {
    margin: 0 auto;
    width: fit-content;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 3rem;
    padding: 0.8rem 6rem;
    border: none;
    margin-bottom: 2rem;
    background: linear-gradient(45deg, #99d1e4, #b9e8d8);
    transition: all 0.5s ease;
}

.btn-login:hover {
    transform: scale(1.05);
    border: 0.1rem solid #102542;
}

.btn-login:active {
    border: 0.1rem solid #102542;
    background: linear-gradient(45deg, #7db7ab, #1e5f6f);
}

.cadastro-link {
    margin: 0 auto;
    margin-top: 2rem;
}

/* FOOTER */

footer {
    background-color: transparent;
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer a {
    text-decoration: none;
}

/* FIM DO FOOTER */
